body {
  font-family: verdana;
}
div {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
img {
  margin: 10px;
}
th, td {
  border:2px solid black;
  border-radius: 10px;
  background-color: #f0f0f0;
  border-color: #e94600;
}
